extends layout

block content
  h1= title
  if authenticationFailed
    .alert.alert-warning.alert-dismissible.fade.show Email ou mot de passe incorrect.
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")

  form(action="/login", method="post")
    .mb-3
      label.form-label(for="emailInput") email:
      input#usernameInput.form-control(name="email", type="text", autofocus)
    .mb-3
      label.form-label(for="passwordInput") mot de passe:
      input#passwordInput.form-control(name="password", type="password")
    .mb-3
      button.btn.btn-primary(type="submit") se connecter